@using ShippingClient.Services.Contracts;
@inherits LayoutComponentBase
@inject NavigationManager _navMgr;
@inject IAuthenticationService _authService;
<div class="page">
    <MudThemeProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />
    <AuthorizeView>
        <Authorized>
            <MudLayout>
                <Drawer/>
                <MudMainContent Class="pt-16 px-16">
                    <main>
                        <article class="content">
                            @Body
                        </article>
                    </main>
                </MudMainContent>
            </MudLayout>
        </Authorized>
        <NotAuthorized>
            <main>
                <article class="content">
                    @Body
                </article>
            </main>
        </NotAuthorized>
        
    </AuthorizeView>
    
</div>

@code {
   
}