@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize(Roles = "admin,client,manager,deliveryBoy")]
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ShippingClient</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <AuthorizeView Roles="admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="addProductType">
                    <span class="oi oi-plus" aria-hidden="true"></span> Add Product Type
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="addCheckpoint">
                    <span class="oi oi-plus" aria-hidden="true"></span> Add Checkpoint
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="addContainerType">
                    <span class="oi oi-plus" aria-hidden="true"></span> Add Container Type
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="addDriver">
                    <span class="oi oi-plus" aria-hidden="true"></span> Add Driver
                </NavLink>
            </div>
        
        @*<AuthorizeView Roles="admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="addManager">
                    <span class="oi oi-plus" aria-hidden="true"></span> Add Manager
                </NavLink>
            </div>
        </AuthorizeView>*@
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="getContainerTypes">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Container Types
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="getProductTypes">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Product Types
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="getUsers">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> All Users
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles="client">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="createShipment">
                    <span class="oi oi-plus" aria-hidden="true"></span> Create Shipment
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="customerGetShipments">
                    <span class="oi oi-list" aria-hidden="true"></span> Shipments List
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles="deliveryBoy">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="updateDriverLocation">
                    <span class="oi oi-location" aria-hidden="true"></span> Update Location
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="getDriverShipments">
                    <span class="oi oi-list" aria-hidden="true"></span> Shipments
                </NavLink>
            </div>
        </AuthorizeView>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="changePassword">
                <span class="oi oi-lock-locked" aria-hidden="true"></span> Change Password
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="logout">
                <span class="oi oi-account-logout" aria-hidden="true"></span> Log Out
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
