@page "/addContainerType"
@using ShippingClient.Models;
@using ShippingClient.Services.Contracts;
@inject IAPIService _apiService;
@inject NavigationManager _navMgr;
@inject IAlertService AlertService;
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize(Roles = "admin")]

<AuthorizeView>
    <Authorized Context="auth">
        <div class="card col-sm-6" style="margin: 10% auto; justify-content:center">
            <h4 class="card-header">Add New Container Type</h4>
            <div class="card-body">
                <EditForm Model="containerTypeModel" OnSubmit="DoAddContainerType">
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <label for="name">Container Type Name</label>
                        <InputText name="name" class="form-control" @bind-Value="containerTypeModel.containerName" />
                        <ValidationMessage For="@(()=>containerTypeModel.containerName)" />
                    </div>
                    <div class="form-group">
                        <label for="price">Price (per kg)</label>
                        <InputNumber id="price" class="form-control" @bind-Value="containerTypeModel.price" />
                        <ValidationMessage For="@(()=>containerTypeModel.price)" />
                    </div>

                    <div class="my-2">
                        @addContainerTypeResponse.message
                    </div>

                    <div class="my-2">
                        <button disabled="@loading" type="submit" class="btn btn-primary">
                            @if (loading)
                            {
                                <span class="spinner-border spinner-border-sm mr-1"></span>
                                Task.Delay(5000);
                                loading = false;
                            }
                            Add
                        </button>
                    </div>
                </EditForm>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <p>You are not authorized</p>
        @if (true)
        {
            _navMgr.NavigateTo("/login");
        }
    </NotAuthorized>
</AuthorizeView>


@code {
    Models.AddContainerType containerTypeModel = new();
    AddContainerTypeResponse addContainerTypeResponse = new();
    private bool loading;

    //protected override async void OnInitialized()
    //{
    //    StateHasChanged();
    //}
    async Task DoAddContainerType()
    {
        // reset alerts on submit
        AlertService.Clear();
        loading = true;
        
        try
        {
            addContainerTypeResponse.message = "Wait....";
            addContainerTypeResponse = await _apiService.AddContainerType(containerTypeModel);
            if (addContainerTypeResponse.statusCode != 0)
            {
                AlertService.Success("Container Type Added successfully", keepAfterRouteChange: true);
                //_navMgr.NavigateTo("/shipmentHistory");
            }
        }
        catch (Exception ex)
        {
            AlertService.Error(ex.Message);
            loading = false;
            StateHasChanged();
        }
    }
}
