@page "/changePassword"
@using ShippingClient.Models;
@using ShippingClient.Services.Contracts;
@inject IAuthenticationService _authService;
@inject NavigationManager _navMgr;
@inject IAlertService AlertService
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize(Roles = "admin,client,manager,deliveryBoy")]

<AuthorizeView>
    <Authorized Context="auth">
        <div class="card col-sm-6" style="margin: 10% auto; justify-content:center">
            <h4 class="card-header">Reset Password</h4>
            <div class="card-body">
                <EditForm Model="changePassModel" OnSubmit="DoChange">
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <label for="oldPassword">Old Password</label>
                        <InputText id="oldPassword" type="password" class="form-control" @bind-Value="changePassModel.oldPassword" required />
                        <ValidationMessage For="@(()=>changePassModel.oldPassword)" />
                    </div>
                    <div class="form-group">
                        <label for="newPassword">New Password</label>
                        <InputText id="newPassword" type="password" class="form-control" @bind-Value="changePassModel.newPassword" required />
                        <ValidationMessage For="@(()=>changePassModel.newPassword)" />
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirm New Password</label>
                        <InputText id="confirmNewPassword" type="Password" class="form-control" @bind-Value="this.confirmPassword" required />
                    </div>

                    <div class="my-2">
                        @resetResponse.message
                    </div>

                    <div class="my-2">
                        <button disabled="@loading" type="submit" class="btn btn-primary">
                            @if (loading)
                            {
                                <span class="spinner-border spinner-border-sm mr-1"></span>
                                Task.Delay(5000);
                                loading = false;
                            }
                            Change Password
                        </button>
                    </div>
                    <p>Don't have a account?</p><NavLink href="/register" class="btn btn-link">Register</NavLink>
                    <NavLink href="/login" class="btn btn-link"></NavLink>
                </EditForm>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <p>You are not authorized to view/edit this content.</p>
        @if (true)
        {
            _navMgr.NavigateTo("/login");
        }
    </NotAuthorized>
</AuthorizeView>


@code {
    ChangePasswordModel  changePassModel = new();
    LoginResponse resetResponse = new();
    string confirmPassword = string.Empty;

    private bool loading;

    async Task DoChange()
    {
        // reset alerts on submit
        AlertService.Clear();
        loading = true;
        try
        {
            resetResponse.message = "Wait....";
            if (changePassModel.newPassword == null || changePassModel.newPassword == "")
            {
                resetResponse.message = "Please fill required fields";
                loading = false;
                return;
            }
            if (confirmPassword != changePassModel.newPassword)
            {
                resetResponse.message = "Password and Confirm Password does not match...";
                loading = false;
                return;
            }
            resetResponse = await _authService.ChangePassword(changePassModel);
            if (resetResponse.statusCode != 0)
            {
                AlertService.Success("Password Change successful", keepAfterRouteChange: true);
                _navMgr.NavigateTo("/");
            }
        }
        catch (Exception ex)
        {
            AlertService.Error(ex.Message);
            loading = false;
            StateHasChanged();
        }
    }
}