@page "/"
@inject NavigationManager _navMgr;
@inject IAuthenticationService _authService;
@using Microsoft.AspNetCore.Authorization;
@using ShippingClient.Services.Contracts;


<h3>Dashboard</h3>

<AuthorizeView>
    <Authorized>
        <h1>Hello Welcome Back </h1>
        <h2><b>@context.User.Identity?.Name</b></h2>
    </Authorized>
    <NotAuthorized>
        <p>You are not authorized</p>
        @if (true)
        {
            _navMgr.NavigateTo("/login");
        }
    </NotAuthorized>
</AuthorizeView>
@code {
    protected override void OnInitialized()
    {
        // redirect to home if already logged in
        if (_authService.GetToken() != null)
        {
            _navMgr.NavigateTo("/login", true);
        }
    }
}