@page "/productTypes"
@using Microsoft.AspNetCore.Authorization;

@inherits ProductTypesBase
@attribute [Authorize(Roles = "admin")]
<h3>ProductTypes</h3>

@*@code {

}*@
<AuthorizeView>
<Authorized>
@if(productTypes == null){
    <h3> Loading Product Types ...</h3>
}
else{
    <h3 class="mb-5">Products</h3>
    var productTypeCount = productTypes.Count();
    @if (productTypeCount > 0)
    {
        const int itemsPerRow = 4;
        var productTypeRowList = new List<ProductType>();
        @for(int i=0; i<productTypeCount; i++)
        {
            productTypeRowList = productTypes.Skip(i * itemsPerRow).Take(itemsPerRow).ToList();
            @foreach(var item in productTypeRowList)
            {
                <div class="col-md-3 mb-2">
                    <a href="#">
                        <div class="card">
                            <img>
                            <div class="card-body">
                                <h5 class="card-title">@item.type</h5>
                                <p class="card-text">@item.price</p>
                                <p class="card-text">@item.isFragile</p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        }
    }
}
</Authorized>
            <NotAuthorized>
                You are not authorized
            </NotAuthorized>
</AuthorizeView>