@page "/tracking"
@page "/tracking/{Id}"

@attribute [Authorize(Roles = "client,admin,deliveryBoy")]
<PageTitle>Shipment App</PageTitle>

<h3>shipmentId @shipmentId</h3>
<AuthorizeView>
    <Authorized>
        <table class="table">
            <thead>
                <tr>
                    <th> </th>
                    <th>Status</th>
                    <th>Current Location</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var status in list)
                {
                    <tr>
                        <td>
                            <i class="oi oi-location"></i>
                        </td>
                        <td>@status.shipmentStatus</td>
                        <td>@status.currentLocation</td>
                        <td>@status.lastUpdated</td>
                    </tr>
                }
            </tbody>
        </table>
    </Authorized>
    <NotAuthorized>
        <p>You are not authorized</p>
        @if (true)
        {
            _navMgr.NavigateTo("/login");
        }
    </NotAuthorized>
</AuthorizeView>


@code {

    [Parameter]
    public string? Id { get; set; }
    Guid shipmentId;
    protected override async void OnParametersSet()
    {
        if (Id != null)
        {
            shipmentId = new Guid(Id);
            Console.WriteLine(shipmentId);
            res = await _apiService.GetShipmentHistory(shipmentId);
            list = res.data;
        }
        else
        {
            shipmentId = Guid.Empty;
        }
        StateHasChanged();
    }
    
    public Models.ShipmentHistory res = new();
    List<ShipmentStatusModel> list = new();
    
}
