@*@page "/map"*@

@*this page is created just to create maps and changes for other pages*@
@*
<AuthorizeView>
    <Authorized Context="auth">
        <div style="margin: 10% auto; width: 80vw; height: 80vh; justify-content:center">
            <h4>Track On Map</h4>
            <div>
                <div id='map' style='width: 1000px; height: 600px;'>
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <p>You are not authorized</p>
        @if (true)
        {
            _navMgr.NavigateTo("/login");
        }
    </NotAuthorized>
</AuthorizeView>
*@
@*
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var d = await jsRuntime.InvokeAsync<object>("initialize", null);
            Console.WriteLine("function called");
        }
    }
}*@